<section class="customers-section">
    <div class="customers-container container">
        <h2 class="customers-title" id="customers">What our Customers Say</h2>
        <p class="customers-subtitle">Don't just take our word for it - see what our satisfied customers have to say</p>
    
        <ul class="customers-list">
            <li>
                <a href="#" class="customers-link-one">
                    <article class="customers-article">
                        <ul class="customers-icon-list">
                        <li>
                            <svg class="icon-customers" width="17" height="16">
                                <use href="./img/customers/star.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="icon-customers" width="17" height="16">
                                <use href="./img/customers/star.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="icon-customers" width="17" height="16">
                                <use href="./img/customers/star.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="icon-customers" width="17" height="16">
                                <use href="./img/customers/star.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="icon-customers" width="17" height="16">
                                <use href="./img/customers/star.svg#icon-star"></use>
                            </svg>
                        </li>
                        </ul>
                        <p class="customers-review">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”</p>
                        <div class="customers-info">               
                            <picture class="customers-image">
                                <source srcset="./img/customers/customers-man.webp 1x,
                                ./img/customers/customers-man@2x.webp 2x" type="image/webp">
                                <img src="./img/customers/customers-man@2px.webp" alt="customer's photo">
                            </picture>
                            <div class="customers-box-sideline">
                                <h3 class="customers-name">Sumith Shah</h3>
                                <p class="customers-description">Some Dude</p>
                            </div>
                        </div>
                    </article>
                </a>
            </li>
            <li>
                <a href="#" class="customers-link-two">
                    <article class="customers-article">
                    <ul class="customers-icon-list">
                        <li>
                            <svg class="icon-customers" width="17" height="16">
                                <use href="./img/customers/star.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="icon-customers" width="17" height="16">
                                <use href="./img/customers/star.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="icon-customers" width="17" height="16">
                                <use href="./img/customers/star.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="icon-customers" width="17" height="16">
                                <use href="./img/customers/star.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="icon-customers" width="17" height="16">
                                <use href="./img/customers/star.svg#icon-star"></use>
                            </svg>
                        </li>
                        </ul>
                        <p class="customers-review">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”</p>
                        <div class="customers-info">
                            <picture class="customers-image">
                                <source srcset="./img/customers/customers-woman.webp 1x,
                                ./img/customers/customers-woman@2x.webp 2x" type="image/webp">
                                <img src="./img/customers/customers-woman@2px.webp" alt="customer's photo">
                            </picture>
                            <div class="customers-box-sideline">
                                <h3 class="customers-name">Sumith Shah</h3>
                                <p class="customers-description">Some Dude</p>
                            </div>
                        </div>
                    </article>
                </a>
            </li>
        </ul>
    </div>
</section>