<footer class="footer-section" id="footer">
    <div class=" container footer-block ">
        <div class="footer-block-menu">
            <div class="footer-logo-menu">
                <img class="footer-logo" src="./img/footer/logo.svg" alt="logo of site">
                 <ul class="footer-menu-list">
                    <li class="footer-menu-item"><a class="header-link footer-outline " href="#header">Home</a></li>
                    <li class="footer-menu-item"><a class="header-link footer-outline " href="#preferences">About</a></li>
                    <li class="footer-menu-item"><a class="header-link footer-outline " href="#offers">Service</a></li>
                    <li class="footer-menu-item"><a class="header-link footer-outline " href="#favorites">Menu</a></li>
                    <li class="footer-menu-item"><a class="header-link footer-outline " href="#footer">Contact</a></li>
                </ul>
            </div>
            <div class="footer-subscribe-block">
                <p class="footer-subscribe-text">Subscribe</p>
                <div class="footer-input-subscribe-info">
                    <form class="footer-form">
                        <div class="footer-input-validation">
                            <input class="footer-input-wrap footer-outline" type="email"
          name="user-email"
          placeholder="Enter your email"
          required
          title="Please enter a valid email address" 
          pattern="[a-zA-Z0-9]+@[a-zA-Z]+\.[a-zA-Z]{2,}"/>
                                
        <div class="footer-desc">
            <svg class="offers-icon" width="12" height="12">
                <use href="./img/offers/eror.svg#icon-Group"></use>
            </svg>
        <p class="foter-input-text">&nbsp;Not a valid email address (example@email.com)</p>

        </div>
                        </div>
                        <button type="submit" class="footer-btn footer-outline">Subscribe</button>
                    </form>
                    <p class="privacy-policy-text">By subscribing you agree to with our&nbsp; <a
                            href="https://uk.wikipedia.org/wiki/2023_CX1" class="privacy-policy-link footer-outline">Privacy Policy</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-block-additional-info">
            <ul class="footer-additional-info-list">
                <li class="footer-additional-info-item"><a class="footer-additional-info-link footer-outline" href="https://uk.wikipedia.org/wiki/2023_CX1">Privacy
                        Policy</a>
                </li>
                <li class="footer-additional-info-item"><a class="footer-additional-info-link footer-outline" href="https://en.wikipedia.org/wiki/Sev%C4%81">Terms of
                        Service</a>
                </li>
                <li class="footer-additional-info-item"><a class="footer-additional-info-link footer-outline" href="https://en.wikipedia.org/wiki/Cookie">Cookies
                        Settings</a>
                </li>
            </ul>
            <p class="footer-copiryte-text">&copy;2022 FoodSta. All right reserved.</p>
        </div>
    </div>

</footer>
