<header class="header" id="header">
  <div class="header-container container">
    <div class="header-wraper">
      <svg class="header-logo">
        <use href="./img/header/header-icon.svg#icon-logo"></use>
      </svg>

      <div class="header-right-section">
        <nav class="header-navigation">
          <ul class="header-list">
            <li class="header-item">
              <a class="header-link" href="#header">Home</a>
            </li>
            <li class="header-item">
              <a class="header-link" href="#preferences">About</a>
            </li>
            <li class="header-item">
              <a class="header-link" href="#offers">Service</a>
            </li>
            <li class="header-item">
              <a class="header-link" href="#favorites">Menu</a>
            </li>
            <li class="header-item">
              <a class="header-link" href="#footer">Contact</a>
            </li>
          </ul>
        </nav>

        <button type="button" class="mobile-button" data-modal-open>
          Order Now
        </button>
      </div>
    </div>

    <div class="mobile-menu">
      <button type="button" class="mobile-burger" data-menu-open>
        <svg class="mobile-burger-icon">
          <use href="./img/header/header-icon.svg#icon-burger"></use>
        </svg>
      </button>

      <div class="mobile-menu-wrapper is-hidden" data-menu>
        <div class="mobile-menu-container">
          <ul class="mobile-menu-list">
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="#header">Home</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="#preferences">About</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="#offers">Service</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="#favorites">Menu</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="#footer">Contact</a>
            </li>
          </ul>
          <button class="mobile-menu-close-btn" data-menu-close>
            <svg class="mobile-menu-close-icon">
              <use href="./img/header/header-icon.svg#icon-close"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
