<div class="mobile-menu-wrapper is-hidden" data-menu>
  <div class="mobile-menu-container">
    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#header">Home</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#preferences">About</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#offers">Service</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#favorites">Menu</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#footer">Contact</a>
      </li>
    </ul>
    <button class="mobile-menu-close-btn" data-menu-close>
      <svg class="mobile-menu-close-icon">
        <use href="./img/header/header-icon.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
